{% load static %}


<section class="services">
    <div class="container">
        <div class="row">
            
            {% for cat in cats %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <a href="{% url 'category-restaurant' cat.id  %}">

                    {% if cat.image_33 %}
                    <img src="{{ cat.image_33.url }}" alt="{{ cat.image_33.url }}">
                    {% else %}
                    <img src="{% static "default.jpg" %}" alt="{{ cat.image_33 }}">
                    {% endif %}
                    <h4>{{cat.name}}</h4>
                    </a>
                </div>
            </div>
            
            {% endfor %}
            
        </div>
        <div class="row">
            <h2>{{selected_category.name}}</h2>
            <hr>
        </div>
    </div>
</section>