

{% extends "website/base.html" %}
{% load static %}


{% comment %} 
{% block header-navbar %}

این نوبار از سمت هوم پیچ است
{% endblock header-navbar %} {% endcomment %}


{{ categoriiis }}

{% block content %}

<div style="padding-top: 50px">

</div>


{% include "restaurant/categories_section.html" with cats=categories %}



{% if food_party_flag %}

<section class="featured-food food-party" style="margin-bottom: 100px">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h2 style="color: white;">--- Food  Party  ;) --- </h2>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-4">
                <div class="food-item">
                    <h2>food name</h2>
                    <img src="img/dinner_item.jpg" alt="">
                    <div class="price-after-discount">4.50 T</div>
                    <div class="price-down-left" style="text-decoration: line-through;">4.50000 T</div>
                    <div class="text-content">
                        <h4>Food name </h4>
                        <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="food-item">
                    <h2>Lunch</h2>
                    <img src="img/lunch_item.jpg" alt="">
                    <div class="price">$7.50</div>
                    <div class="text-content">
                        <h4>Taiyaki Gastro Tousled</h4>
                        <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <h2>Dinner</h2>
                    <img src="img/dinner_item.jpg" alt="">
                    <div class="price">$12.50</div>
                    <div class="text-content">
                        <h4>Batch Squid Jean Shorts</h4>
                        <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endif %}



<section class="featured-food" style="padding-top: 0px">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h2>--- رستوران های جدید --- </h2>
            </div>
        </div>
        <div class="row">
            {% for restrnt in recent_restaurants %}
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="food-item">
                    <h2 style="font-size: 20px">{{ restrnt.name }}</h2>
                    <img src="{{restrnt.image.url}}" alt="" style="width: 100%;
                    height: 100px;
                    object-fit: cover;">
                    <div class="star-rate"> 
                        {% if restrnt.rating_count > 0 %}
                        <span style="color: gray;">({{restrnt.rating_count}}) </span> &nbsp;  {{restrnt.average_rating}} &nbsp;
                        
                        <span class="sc-fubCfw dHxJBl">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="#FFCE00">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99984 9.62097L2.42572 11.5L3.10832 7.52016L0.216797 4.70163L4.21278 4.12098L5.99984 0.5L7.7869 4.12098L11.7829 4.70163L8.89136 7.52016L9.57395 11.5L5.99984 9.62097Z"></path>
                            </svg>
                        </span>
                        {% else %}
                        <span style="color: gray;"> بدون امتیاز  </span>&nbsp; 
                        
                        <span class="sc-fubCfw dHxJBl">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="gray">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99984 9.62097L2.42572 11.5L3.10832 7.52016L0.216797 4.70163L4.21278 4.12098L5.99984 0.5L7.7869 4.12098L11.7829 4.70163L8.89136 7.52016L9.57395 11.5L5.99984 9.62097Z"></path>
                            </svg>
                        </span>
                        {% endif %}
                    </div>
                    <div class="text-content">
                        {% comment %} <h4>resturant categories </h4> {% endcomment %}
                        {% comment %} <p>{{ restrnt.categories.all|join:", " }}</p> {% endcomment %}
                        <p>{{ restrnt.categories.all|join:", " }}</p>
                        {% comment %} 
                        {% for category in restrnt.categories %}
                            {{ category }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}

            {% comment %} <div class="col-md-4">
                <div class="food-item">
                    <h2>resturant name </h2>
                    <img src="img/breakfast_item.jpg" alt="">
                    <div class="star-rate"> <span style="color: gray;">(126) </span> &nbsp;  4.5 &nbsp;
                        <span class="sc-fubCfw dHxJBl">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="#FFCE00">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99984 9.62097L2.42572 11.5L3.10832 7.52016L0.216797 4.70163L4.21278 4.12098L5.99984 0.5L7.7869 4.12098L11.7829 4.70163L8.89136 7.52016L9.57395 11.5L5.99984 9.62097Z"></path>
                            </svg>
                        </span>
                    </div>
                    <div class="text-content">
                        <h4>resturant categories </h4>
                        <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <h2>resturant name </h2>
                    <img src="img/breakfast_item.jpg" alt="">
                    <div class="star-rate"> <span style="color: gray;">(126) </span> &nbsp;  4.5 &nbsp;
                        <span class="sc-fubCfw dHxJBl">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="#FFCE00">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99984 9.62097L2.42572 11.5L3.10832 7.52016L0.216797 4.70163L4.21278 4.12098L5.99984 0.5L7.7869 4.12098L11.7829 4.70163L8.89136 7.52016L9.57395 11.5L5.99984 9.62097Z"></path>
                            </svg>
                        </span>
                    </div>
                    <div class="text-content">
                        <h4>resturant categories </h4>
                        <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <h2>resturant name </h2>
                    <img src="img/breakfast_item.jpg" alt="">
                    <div class="star-rate"> <span style="color: gray;">(126) </span> &nbsp;  4.5 &nbsp;
                        <span class="sc-fubCfw dHxJBl">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="#FFCE00">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99984 9.62097L2.42572 11.5L3.10832 7.52016L0.216797 4.70163L4.21278 4.12098L5.99984 0.5L7.7869 4.12098L11.7829 4.70163L8.89136 7.52016L9.57395 11.5L5.99984 9.62097Z"></path>
                            </svg>
                        </span>
                    </div>
                    <div class="text-content">
                        <h4>resturant categories </h4>
                        <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</section>



{% endblock content %}